@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
   background-image: url(https://images.unsplash.com/photo-1578852612716-854e527abf2e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRvJTIwZG98ZW58MHx8MHx8fDA%3D);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   /* overflow: auto; */
   min-height: 100vh;
   max-width: 100%;
}

.edit_btn {
   background-color: rgb(90, 75, 2);
}

.reload {
   margin: 0 auto;
}

h1 {
   text-shadow: 0 0 10px rgb(234, 225, 225), 0 0 20px rgb(205, 199, 187);
}

h2 {
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.box {
   max-width: 100%;
   /* min-height: 100%; */
   align-items: center;
   text-align: center;
   background-color: white;
}

.login {
   align-items: center;
   text-align: center;
   background-color: white;
   max-width: 100%;
   /* min-height: 100%; */

}

.log_data {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   /* max-width: 100%; */
   min-height: 100vh;
   background-image: url(https://images.unsplash.com/photo-1487700160041-babef9c3cb55?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGxvZ2lufGVufDB8fDB8fHww);
}

.userdata {
   display: flex;
   flex-direction: column;
   padding: 20px;
}

.userdata1 {
   display: flex;
   flex-direction: column;
   padding: 20px;
   margin: auto;
   border: 1px solid rgb(173, 171, 171);
   border-radius: 5px;
  
}


.details {
   display: flex;
   gap: 20px;
   border-radius: 3px;
   align-items: center;
   justify-content: center;
   /* background-color: rgb(173, 171, 171); */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   min-height: 70vh;
   background-image: url(https://plus.unsplash.com/premium_photo-1661420059005-46f59e62e478?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8c2lnbiUyMHVwfGVufDB8fDB8fHww);
}

/* .blur-image {
  
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   height: 420px;
   width: 500px;

} */

.btn {
   max-width: 100%;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.btn1 {
   max-width: 100%;
}

.task_data {
   max-width: 40%;

}

.btn2 {
   max-width: 100%;
}
p{
   margin-bottom: 50px;
}

.logout {
   display: flex;
   justify-content: flex-end;
}

@media only screen and (max-width: 767px) {

   .box {
      max-width: 100%;
   }

   .details {
      display: flex;
      flex-direction: column;
   }

   .userdata1 {
      max-width: 100%;
   }

   .login {
      max-width: 100%;
   }

   .task_data {
      max-width: 100%;

   }
}